@font-face {
   font-family: 'BASKRV_L';
   font-display: swap;
   src: url('file:///C:/Users/Jonathan%20Marques/Desktop/SITES%20ATUALIZADOS/MARQUES%20_%20DOMINGUES%20ADVOGADOS/fonts/BASKRV_L/font.ttf');
}
